<div class="col-lg-12">
    <br>
    <div class="ml-auto text-right">
        <a routerLink="/bienesnuevo"><button type="button" class="btn btn-primary">Nuevo</button></a>
    </div>
    <div class="card">
        <div class="card-header">
            <h4>Striped table with hover effect</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <input type="search" class="form-control form-control-warning" (keyup)="checkBien($event)"
                    placeholder="Busqueda">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Codigo</th>
                                <th>Identificador</th>
                                <th>Tipo Bien</th>
                                <th>Serie</th>
                                <th>Modelo</th>
                                <th>Marca</th>
                                <th>Color</th>
                                <th>Material</th>
                                <th>Cédula</th>
                                <th>Nombre Encargado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bien of bienes">
                                <td>{{bien.id}}</td>
                                <td>{{bien.codigo}}</td>
                                <td>{{bien.identificador}}</td>
                                <td>{{bien.nombre}}</td>
                                <td>{{bien.serie_identificacion}}</td>
                                <td>{{bien.modelo}}</td>
                                <td>{{bien.marca}}</td>
                                <td>{{bien.color}}</td>
                                <td>{{bien.material}}</td>
                                <td>{{bien.cedula}}</td>
                                <td>{{bien.nombres + " " + bien.apellidos}}</td>
                                <td><button [routerLink]="['/bienesactualizar/',bien.id]"><i
                                            class="fa fa-pencil"></i></button></td>
                                <td><button><i class="fa fa-times"></i></button></td>
                                <td><button [routerLink]="['/mantenimientonuevo/',bien.id]"><i class="fa fa-cogs"></i></button></td>
                                <td><button [routerLink]="['/generarcodigoqr/',bien.codigo]"><i class="fa fa-qrcode"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>