<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Ingreso de Bienes</h4>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datos del Bien</h5>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Identificador</label>
                            <div class="col-lg-8 col-md-12">
                                <input type="text" data-toggle="tooltip" title="Ingresar el Identificador"
                                    class="form-control" id="validationDefault05" placeholder="Identificador" required>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Código</label>
                            <div class="col-lg-8 col-md-12">
                                <input type="text" data-toggle="tooltip" title="Ingresar el Código" class="form-control"
                                    id="validationDefault05" placeholder="Código" required>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Tipo de Bien</label>
                            <div class="col-lg-8 col-md-12">
                                <select class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                    <option>Seleccionar</option>
                                    <optgroup label="Alaskan/Hawaiian Time Zone">
                                        <option value="AK">Alaska</option>
                                        <option value="HI">Hawaii</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Serie</label>
                            <div class="col-lg-8 col-md-12">
                                <input type="text" data-toggle="tooltip" title="Ingresar la SEerie" class="form-control"
                                    id="validationDefault05" placeholder="Serie" required>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Modelo</label>
                            <div class="col-lg-8 col-md-12">
                                <input type="text" data-toggle="tooltip" title="Ingresar el Modelo" class="form-control"
                                    id="validationDefault05" placeholder="Modelo" required>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Marca</label>
                            <div class="col-lg-8 col-md-12">
                                <input type="text" data-toggle="tooltip" title="Ingresar la Marca" class="form-control"
                                    id="validationDefault05" placeholder="Marca" required>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Color</label>
                            <div class="col-lg-8 col-md-12">
                                <input type="text" data-toggle="tooltip" title="Ingresar el color" class="form-control"
                                    id="validationDefault05" placeholder="Color" required>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Material</label>
                            <div class="col-lg-8 col-md-12">
                                <input type="text" data-toggle="tooltip" title="Ingresar el Material"
                                    class="form-control" id="validationDefault05" placeholder="Material" required>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Dimensiones</label>
                            <div class="col-lg-8 col-md-12">
                                <input type="text" data-toggle="tooltip" title="Ingresar las Dimensiones"
                                    class="form-control" id="validationDefault05" placeholder="Dimensiones" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Información Adicional</h5>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Valor de compra</label>
                            <div class="col-lg-8 col-md-12">
                                <input type="text" data-toggle="tooltip" title="Ingresar el Valor de Compra"
                                    class="form-control" id="validationDefault05" placeholder="Valor de Compra"
                                    required>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Tipo de Moneda</label>
                            <div class="col-lg-8 col-md-12">
                                <select class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                    <option>Seleccionar</option>
                                    <option value="1">Dolar</option>
                                    <option value="2">Euro</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Recompra</label>
                            <div class="col-lg-8 col-md-12">
                                <select class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                    <option>Seleccionar</option>
                                    <option value="1">Sí</option>
                                    <option value="2">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Nro Acta</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" placeholder="Nro Acta">
                            </div>
                            <div class="input-group-append">
                                <button>Acta</button>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Fecha Ingreso</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="datepicker-autoclose"
                                    placeholder="mm/dd/yyyy">
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Bien</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" placeholder="Bien">
                            </div>
                            <div class="input-group-append">
                                <button>Bien</button>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Crítico</label>
                            <div class="col-lg-8 col-md-12">
                                <select class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                    <option>Seleccionar</option>
                                    <option value="1">Sí</option>
                                    <option value="2">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <label class="col-lg-4 col-md-12 text-right">Bodega</label>
                            <div class="col-lg-8 col-md-12">
                                <select class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                    <option>Seleccionar</option>
                                    <option value="1">Sí</option>
                                    <option value="2">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script>
    /*datwpicker*/
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    var quill = new Quill('#editor', {
        theme: 'snow'
    });

</script>
