<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8" style="text-align: center">
        <!--<ngx-qrcode [width]="100" [scale]="5" [qrc-element-type]="elementType" [qrc-value]="value">
        </ngx-qrcode>
    -->
    <qr-code [value]="value" [size]="250"></qr-code>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="text-align: center">
            <button type="button" class="btn btn-primary" (click)="downloadImage()">Descargar</button>
        </div>
        <div class="col-lg-2"></div>
    </div>